* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin: 10px;
}

.average {
    text-align: center;
    margin: 20px;
}

table {
    margin: auto;
    padding: 10px;
    width: 50%;
}
th {
    text-align: center;
}

.freelancer {
    text-align: center;
}